<div class="ui feed">
  <div class="event">
    <div class="label">
      <img src="<%= player.image %>">
    </div>
    <div class="content">
      <div class="summary">
        <a><%= player.name %> - <%= player.number %></a>
        <a>Fouls: <%= player.fouls %></a>
      </div>
    </div>
  </div>
</div>