// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body{
  background-color: #000000 !important;
}

a {
  color: white !important;
}

p {
  color: white !important;
  font-size: 32pt !important;
}

h1, h2, h3{
  color: white !important;
}

.mt-5{
  margin-top: 5em;
}